<script setup>
import svg from "../assets/uns.svg?raw";
import SvgInput from "./SvgInput.vue";

const props = defineProps({
  hoverColor: {
    type: String,
    default: "#747bff",
  },
  selectionColor: {
    type: String,
    default: "#646cff",
  },
});

// Create const list of teeth from 1 to 32
const teethList = new Set(
  Array(32)
    .fill(1)
    .map((x, y) => `tooth${x + y}`),
);
</script>

<template>
  <SvgInput :items-list="teethList">
    <!-- eslint-disable-next-line vue/no-v-html -->
    <div v-html="svg"></div>
  </SvgInput>
</template>

<style lang="scss" scoped>
div:deep(svg) {
  /* Make everything non-clickable */
  * {
    pointer-events: none;
  }

  @for $i from 1 through 32 {
    $tooth: "tooth#{$i}";

    /* Make clickable items clickable */
    ##{$tooth} {
      pointer-events: initial;
    }

    /* Show hover effect on devices that support it (non touch screens) */
    @media (hover: hover) {
      ##{$tooth}:hover {
        cursor: pointer;
        fill: v-bind("props.hoverColor") !important;
      }
    }

    /* Highlight the selected teeth */
    ##{$tooth}.selected {
      fill: v-bind("props.selectionColor") !important;
    }
  }
}
</style>
