<script setup>
import {onBeforeUnmount, onMounted, watch} from "vue";

const props = defineProps({
  itemsList: {
    type: Set,
    default: () => new Set(),
  },
  radioMode: {
    type: Boolean,
    default: false,
  },
  modelValue: {
    type: Set,
    default: [],
  },
});

const emits = defineEmits([
  "update:modelValue",
  "click:item",
  "mouseover:item",
  "mouseout:item",
]);

function renderSelection() {
  props.itemsList.forEach((item) => {
    if (props.modelValue.has(item)) {
      document.querySelector(`#${item}`).classList.add("selected");
    } else {
      document.querySelector(`#${item}`).classList.remove("selected");
    }
  });
}

function handleClick(event) {
  const targetId = event.target.id;
  let selection = new Set(props.radioMode ? null : props.modelValue);

  if (props.modelValue.has(targetId)) {
    selection.delete(targetId);
  } else {
    selection.add(targetId);
  }

  emits("update:modelValue", selection);
  emits("click:item", event);
}

function handleMouseOver(event) {
  emits("mouseover:item", event);
}

function handleMouseOut(event) {
  emits("mouseout:item", event);
}

function dedupe() {
  // If dupes found, only keep the last element
  if (props.radioMode && props.modelValue.size > 1) {
    emits("update:modelValue", new Set([...props.modelValue.entries()].pop()));

    return true;
  }

  return false;
}

function addListeners() {
  props.itemsList.forEach((item) => {
    document.querySelector(`#${item}`).addEventListener("click", handleClick);
    document
        .querySelector(`#${item}`)
        .addEventListener("mouseover", handleMouseOver);
    document
        .querySelector(`#${item}`)
        .addEventListener("mouseout", handleMouseOut);
  });
}

function removeListeners() {
  props.itemsList.forEach((item) => {
    document.querySelector(`#${item}`).removeEventListener("click", handleClick);
    document
        .querySelector(`#${item}`)
        .removeEventListener("mouseover", handleMouseOver);
    document
        .querySelector(`#${item}`)
        .removeEventListener("mouseout", handleMouseOut);
  });
}

watch(
  () => props.modelValue,
  () => {
    dedupe() || renderSelection();
  },
  { deep: true },
);

watch(
  () => props.radioMode,
  () => {
    dedupe();
  },
);

onMounted(() => {
  addListeners();
  renderSelection();
});

onBeforeUnmount(() => {
  removeListeners();
});
</script>

<template>
  <div>
    <slot></slot>
  </div>
</template>
