<script setup>
import { ref } from "vue";
import filters from "./teethFilters";
import DentalInput from "./components/DentalInput.vue";

const selection = ref(new Set(["tooth14"]));
const radioMode = ref(false);
const hoverTarget = ref(null);

function addRandom() {
  const teethCount = 32;

  if (selection.value.size >= teethCount) {
    return;
  }

  let randomTooth;

  do {
    randomTooth = `tooth${Math.floor(Math.random() * teethCount) + 1}`;
  } while (selection.value.has(randomTooth));

  selection.value.add(randomTooth);
}

function resetSelection() {
  selection.value.clear();
}
</script>

<template>
  <div>
    <div class="controls">
      <button @click="radioMode = !radioMode">{{ radioMode ? 'Radio' : 'Check' }}</button>
      <button @click="addRandom">Random</button>
      <button @click="resetSelection">Reset</button>
    </div>
    <div class="input-box">
      <div class="palmer">{{ filters.combinedPalmer(selection) }}</div>
      <DentalInput
        v-model="selection"
        class="dental-input"
        :radio-mode="radioMode"
        selection-color="green"
        hover-color="lightgreen"
        @mouseover:item="hoverTarget = $event.target.id"
        @mouseout:item="hoverTarget = null"
      />
      <div v-show="hoverTarget" class="hover-info">
        {{ filters.uns(hoverTarget) }} - {{ filters.palmer(hoverTarget) }} -
        {{ filters.fdi(hoverTarget) }} <br />
        {{ filters.alphanum(hoverTarget) }} -
        {{ filters.paleoanthropology(hoverTarget) }} <br />
        {{ filters.ada(hoverTarget) }} <br />
        {{ filters.type(hoverTarget) }} ({{ filters.region(hoverTarget) }})
      </div>
    </div>
    <footer>
      <a href="https://gitlab.com/isword/dental-input" target="_blank">
        gitlab.com/isword/dental-input
      </a>
    </footer>
  </div>
</template>

<style lang="scss" scoped>
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  pointer-events: none;

  .hover-info {
    position: absolute;
    width: 10em;
    top: 30%;
    left: calc(50% - 10em / 2);
  }
}

.palmer {
  height: 2em;
  padding: 0.5em;
}

.dental-input {
  width: min(32em, 100%);
}
</style>
